<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimedShutdown"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:label="Tutorial Video"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".AutomationSupportActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AutomationSupportActivityConfig1"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AutomationSupportActivityConfig2"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TurnScreenOnActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service
            android:name=".AccessibilityService"
            android:exported="false"
            android:label="Timed Shutdown"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".AccessibilitySupportService"
            android:exported="false" />

        <receiver
            android:name=".BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ShutdownWidgetProviderConfig1"
            android:description="@string/quick_config_1"
            android:label="@string/quick_config_1"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shutdown_widget_info_config1" />
        </receiver>
        <receiver
            android:name=".ShutdownWidgetProviderConfig2"
            android:description="@string/quick_config_2"
            android:label="@string/quick_config_2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shutdown_widget_info_config2" />
        </receiver>
        <receiver
            android:name=".ShutdownWidgetProvider"
            android:description="@string/widget_description"
            android:label="@string/widget_description"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shutdown_widget_info" />
        </receiver>
    </application>

</manifest>